openapi: 3.0.3
info:
  title: Crypay API
  version: "1.0"
  description: |
    Accept cryptocurrency payments on your website or application using the Crypay API.

    **Base URL:** `https://app.crypay.com/api`

    ## Authentication

    Most endpoints accept an API key via the `X-API-KEY` header.
    For signed requests, include an `X-SIGNATURE` header (HMAC-SHA256 of the raw request body, keyed with your `secretKey`).

  contact:
    email: support@crypay.com
    url: https://crypay.com
  license:
    name: Proprietary

servers:
  - url: https://app.crypay.com/api
    description: Production

security:
  - ApiKeyAuth: []

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
    SignatureAuth:
      type: apiKey
      in: header
      name: X-SIGNATURE

  schemas:
    Payment:
      type: object
      properties:
        id:
          type: string
          example: "507f1f77bcf86cd799439011"
        userId:
          type: string
          example: "507f1f77bcf86cd799439012"
        shortId:
          type: string
          example: "abc123de"
        state:
          $ref: '#/components/schemas/PaymentState'
        created:
          type: string
          format: date-time
        amount:
          type: number
          example: 49.90
        currency:
          type: string
          example: EUR
        currencyDecimals:
          type: integer
          example: 2
        reference:
          type: string
          example: "INV-2026-042"
        description:
          type: string
          nullable: true
        settlementOption:
          type: string
          enum: [DIRECT, KVAPAY, ANYCOIN]
        transactions:
          type: array
          items:
            type: object
        offered:
          type: string
          format: date-time
          nullable: true
        started:
          type: string
          format: date-time
          nullable: true
        symbol:
          type: string
          nullable: true
          example: BTC
        network:
          type: string
          nullable: true
          example: bitcoin
        address:
          type: string
          nullable: true
          example: "bc1qar0srrr7xfkvy5l643lydnw9re59gtzzwf5mdq"
        paymentAmount:
          type: number
          nullable: true
          example: 0.00125
        exchangeRate:
          type: number
          nullable: true
          example: 39920
        fee:
          type: number
          nullable: true
          example: 0.00001
        symbolDecimals:
          type: integer
          nullable: true
          example: 8
        memo:
          type: string
          nullable: true

    PaymentState:
      type: string
      enum:
        - NEW
        - WAITING_FOR_PAYMENT
        - WAITING_FOR_CONFIRMATION
        - SUCCESS
        - EXPIRED

    PaymentOption:
      type: object
      properties:
        symbol:
          type: string
          example: BTC
        network:
          type: string
          example: bitcoin
        decimals:
          type: integer
          example: 8
        baseSymbol:
          type: string
          example: EUR
        paymentAmount:
          type: number
          example: 0.00125
        exchangeRate:
          type: number
          example: 39920
        originalExchangeRate:
          type: number
          example: 39920
        fee:
          type: number
          example: 0.00001
        disabled:
          type: boolean
          example: false

    Symbol:
      type: object
      properties:
        code:
          type: string
          example: BTC
        decimals:
          type: integer
          example: 8
        type:
          type: string
          enum: [CRYPTO, FIAT]
        networks:
          type: array
          items:
            $ref: '#/components/schemas/Network'

    Network:
      type: object
      properties:
        code:
          type: string
          example: bitcoin
        type:
          type: string
          example: MAINNET
        native:
          type: boolean
        useMemo:
          type: boolean
        contractAddress:
          type: string
          nullable: true

    ApiKey:
      type: object
      properties:
        id:
          type: string
        userId:
          type: string
        name:
          type: string
        created:
          type: string
          format: date-time
        scopes:
          type: array
          items:
            type: string
            enum: [PAYMENT]
        apiKeyPreview:
          type: string
          example: "abcd1234***"
        secretKeyPreview:
          type: string
          example: "efgh5678***"

    ApiKeyCreated:
      allOf:
        - $ref: '#/components/schemas/ApiKey'
        - type: object
          properties:
            apiKey:
              type: string
              description: Full API key — shown only at creation
            secretKey:
              type: string
              description: Full secret key — shown only at creation

    MerchantInfo:
      type: object
      properties:
        name:
          type: string
          nullable: true
        registrationNumber:
          type: string
          nullable: true
        address:
          type: string
          nullable: true
        email:
          type: string
          nullable: true

    CustomerInfo:
      type: object
      properties:
        name:
          type: string
          nullable: true
        registrationNumber:
          type: string
          nullable: true
        email:
          type: string
          nullable: true

    Error:
      type: object
      properties:
        error:
          type: string
          example: "Invalid API key"
        status:
          type: integer
          example: 401
        details:
          type: object
          properties:
            reason:
              type: string
              example: INVALID_API_KEY

paths:
  /health:
    get:
      summary: Health check
      operationId: healthCheck
      security: []
      tags: [System]
      responses:
        '200':
          description: Service healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  time:
                    type: string
                    format: date-time
                  version:
                    type: string

  /payments:
    post:
      summary: Create payment
      operationId: createPayment
      tags: [Payments]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount, currency]
              properties:
                amount:
                  type: number
                  example: 49.90
                currency:
                  type: string
                  example: EUR
                reference:
                  type: string
                  example: "INV-2026-042"
                description:
                  type: string
                successUrl:
                  type: string
                  format: uri
                failUrl:
                  type: string
                  format: uri
                paymentUpdateWebhook:
                  type: string
                  format: uri
                paymentUpdateWebhookSecret:
                  type: string
                selectionTimeout:
                  type: integer
                  default: 600
                  description: Seconds before option selection expires
                paymentTimeout:
                  type: integer
                  default: 3600
                  description: Seconds before payment address expires
                language:
                  type: string
                  example: EN
                multi:
                  type: boolean
                  default: false
                  description: Allow payment to be reused multiple times
                options:
                  type: array
                  items:
                    type: object
                    required: [symbol, network]
                    properties:
                      symbol:
                        type: string
                      network:
                        type: string
                test:
                  type: boolean
                  default: false
                merchant:
                  $ref: '#/components/schemas/MerchantInfo'
                customer:
                  $ref: '#/components/schemas/CustomerInfo'
            example:
              amount: 49.90
              currency: EUR
              reference: "INV-2026-042"
              successUrl: "https://shop.example.com/success"
              failUrl: "https://shop.example.com/cancel"
              paymentUpdateWebhook: "https://shop.example.com/webhooks/crypay"
              paymentUpdateWebhookSecret: "whs_secret"
      responses:
        '200':
          description: Payment created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'

    get:
      summary: List payments
      operationId: listPayments
      tags: [Payments]
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 25
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: order
          in: query
          schema:
            type: string
            example: "created:desc"
        - name: term
          in: query
          schema:
            type: string
        - name: dateFrom
          in: query
          schema:
            type: string
            format: date
        - name: dateTo
          in: query
          schema:
            type: string
            format: date
        - name: states
          in: query
          schema:
            type: string
            example: "SUCCESS,WAITING_FOR_PAYMENT"
        - name: currencies
          in: query
          schema:
            type: string
            example: "EUR,USD"
        - name: symbols
          in: query
          schema:
            type: string
            example: "BTC,ETH"
        - name: test
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: List of payments
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Payment'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /payments/{shortId}:
    get:
      summary: Get payment
      operationId: getPayment
      tags: [Payments]
      security: []
      parameters:
        - name: shortId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Payment details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /payments/{shortId}/options:
    get:
      summary: Get payment options
      operationId: getPaymentOptions
      tags: [Payments]
      security: []
      parameters:
        - name: shortId
          in: path
          required: true
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 25
        - name: afterSymbol
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Available crypto options with current rates
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PaymentOption'

  /payments/{shortId}/set-option:
    post:
      summary: Select payment option
      operationId: setPaymentOption
      tags: [Payments]
      security: []
      parameters:
        - name: shortId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [symbol, network]
              properties:
                symbol:
                  type: string
                  example: BTC
                network:
                  type: string
                  example: bitcoin
      responses:
        '204':
          description: Option selected
        '400':
          description: Invalid option or payment state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /symbols:
    get:
      summary: List supported symbols
      operationId: listSymbols
      tags: [Symbols]
      security: []
      parameters:
        - name: type
          in: query
          schema:
            type: string
            enum: [CRYPTO, FIAT]
        - name: symbol
          in: query
          schema:
            type: string
        - name: network
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Supported symbols
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Symbol'

  /keys:
    post:
      summary: Create API key
      operationId: createApiKey
      tags: [API Keys]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, scopes]
              properties:
                name:
                  type: string
                scopes:
                  type: array
                  items:
                    type: string
                    enum: [PAYMENT]
      responses:
        '200':
          description: Key created — save `secretKey` now, it will not be shown again
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyCreated'
        '401':
          $ref: '#/components/responses/Unauthorized'

    get:
      summary: List API keys
      operationId: listApiKeys
      tags: [API Keys]
      responses:
        '200':
          description: List of keys (secrets obfuscated)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiKey'

  /keys/{id}:
    put:
      summary: Update API key
      operationId: updateApiKey
      tags: [API Keys]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                scopes:
                  type: array
                  items:
                    type: string
      responses:
        '204':
          description: Updated

    delete:
      summary: Delete API key
      operationId: deleteApiKey
      tags: [API Keys]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Deleted

components:
  responses:
    Unauthorized:
      description: Missing or invalid credentials
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: "Invalid API key"
            status: 401
            details:
              reason: INVALID_API_KEY

tags:
  - name: Payments
    description: Create and manage crypto payment requests
  - name: Symbols
    description: Query supported cryptocurrencies and networks
  - name: API Keys
    description: Manage API credentials (requires dashboard session)
  - name: System
    description: Service health
